body {
  font-family: serif;  
  background-color: #D4C8BE;
}

.hpage {
  margin: auto;
  text-align: center;
}

nav {
  font-size: 30px;
  text-align: center;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color:#B5A4A3;
  min-width: 180px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
